* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --swiper-navigation-size: 0px;
}

.html, body {
  font-family: 'Mulish', sans-serif;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

span {
  background-image: linear-gradient(310deg,#7928ca,#ff0080); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper {
  overflow-y: visible;
}

.swiper-pagination {
  bottom: unset !important;
  padding: 6px;
  background-color: hsla(242.2, 49.4%, 67.45%, 0.1);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  box-shadow: 0px 4px 4px hsla(0deg, 0%, 0%, 0.1);
}

.swiper-pagination-bullet {
  background-color: #b06e80 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff0080 !important;
}